.DS_Store
www/testharness/logs/*
www/testing/resources/logs/*.log
/settings.xml
.project
www/test-harness/logs/*.log
www/test-harness/logs
www/test-harness/test/logs
www/test-harness/test/specs/integration/logs
www/testing/cases/logging/tmp
www/tests/results/*
www/tests/automation/results
www/tests/automation/results-*
www/tests/logs
build-coldbox
build/build.number
coldbox/*
www/testbox/*
